.container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* border: solid 1px #e0e0e0; */
}

.header {
    margin-bottom: 1.5rem;
    color: white;
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 0.3rem;
}

.scrollable {
    overflow-y: auto;
    scrollbar-width: none;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.followers {
    color: cyan;
    padding-left: 3rem;
    margin-top: -4px;
}

@media (width <=468px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}
