.container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    text-align: center;
    z-index: 1;
    top: 120%;
    left: 5%;
    opacity: 0;
    transition: opacity 1s;
    font-size: 10px;
}

.container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
