.input {
    background: #333333;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    height: 40px;
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 5px;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.input:focus {
    outline: none;
}
