.container {
    display: flex;
    padding: 1em 1.5em;
    border-top-left-radius: 10rem !important;
    border-bottom-left-radius: 10rem !important;
    border-top-right-radius: 10rem !important;
    border-bottom-right-radius: 10rem !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #ffffff66;
    color: black;
}

.pulsate {
    /* background: black; */
    /* margin: 10px; */
    background: linear-gradient(
        90deg,
        rgba(248, 0, 248, 1) 25%,
        rgba(2, 255, 255, 1) 80%
    );
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 255, 255, 1);
    transform: scale(1);
    animation: pulse-black 2s infinite;
    padding: 0.3em 1.5em 0.3em 0.3em;
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 0);
    }
}

@media (width <=468px) {
    .container {
        padding-block: 0.8rem;
        padding-inline: 1.5rem;
    }
}
